.themeSwitcher {
    position: relative;
    display: flex;
    justify-content: flex-end;
    border-radius: 3rem;
}

.optionsContent {
    display: flex;
    overflow: hidden;
    transition: .2s ease-in-out;
    border-radius: 3rem;
    transition-property: width;
    width: var(--width-size);

    &.freezeChild {
        cursor: pointer;
    }
}

.iconsContainer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    padding: .1rem .25rem;
}

.showElem {
    opacity: 1;
    translate: 0 100%;
}

.shadowContent {
    pointer-events: none;
    position: absolute;
    overflow: visible;
    justify-content: flex-end;
    flex-direction: row-reverse;

    .iconContent {
        &:not(.showElem) {
            translate: 0 calc(100% - .5em);
        }
        .msgContent {
            padding: 0 .75rem;
            border-radius: 3rem;
            background-color: var(--body-backgroud);
            border: 1px solid var(--border-color);
        }
        transition: .15s ease-in-out;
        transition-property: opacity, translate;
    }

    .iconBox, .backOptions, .iconContent {
        &:not(.showElem) {
            opacity: 0;
        }
    }
}

.freezeChild > * {
    pointer-events: none;
}

.iconContent, .backOptions {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    flex-shrink: 0;
    cursor: pointer;
}

.iconContent {
    height: 2em;
    width: 2.5em;
}

.iconBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    pointer-events: none;
}

.msgContent {
    pointer-events: none;
    position: absolute;
}

.backOptions {
    height: 1.5em;
    width: 1.5em;
    opacity: .65;
}

.activeOption {
    background: var(--select-background);
}