.themeSwitcher {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 3rem;
    border: 1px solid var(--border-color);
    padding: .1rem .5rem;
}

.iconContent {

}