.imagesContainer {
    display: flex;
    flex-direction: row;
    gap: -5rem;
    flex-wrap: nowrap;
    user-select: none;

    &:has(.imageContainer:hover) .imageContainer:not(:hover) {
        opacity: .75;
    }
}

.imageContainer {
    position: relative;
    list-style: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--ind);
    padding: calc(var(--size) / 15);
    transition-property: opacity;

    .imageContent {
        position: relative;
        display: block;
        height: var(--size);
        width: var(--size);
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: red;
        overflow: hidden;
    }

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    &:hover {
        z-index: 1000;

        .imageDesc {
            pointer-events: auto;
            opacity: 1;
            scale: 1;
            translate: 0 calc(var(--size) / -2 - 100% - 1rem);
        }
    }
}

.imageDesc {
    pointer-events: none;
    position: absolute;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    scale: .5;
    font-weight: 800;
    letter-spacing: .05rem;
    white-space: nowrap;
    background: #58f;
    padding: .1rem 1rem .15rem 1rem;
    border-radius: 1rem;
    transition: .2s ease-in-out;
    transition-property: translate, opacity, scale;
    z-index: -1;
    cursor: default;

    &::before {
        content: '';
        position: absolute;
        height: var(--size);
        width: 100%;
        left: 50%;
        translate: -50%;
        z-index: -1;
    }
}

.aditionalLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    width: 100%;

    ion-icon {
        font-size: 1.35em;
    }
}