*:has(> .carouselContainer) {
    position: relative;
    width: 100%;
    margin: 0 max(3vw, 1.5rem);

    &:hover {
        .moveCarousel:not(.noClick) {
            opacity: .75;
            pointer-events: auto;
            transition: opacity .35s ease-in-out 0s;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.carouselContainer {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.listItems {
    position: relative;
    display: flex;
    flex-direction: row;

    &:has(.itemCarousel:hover) .itemCarousel:not(:hover) {
        opacity: .5;
        // scale: .85;
    }
}

.itemCarousel {
    aspect-ratio: 16 / 9;
    width: 30vw;
    min-width: 8rem;
    max-width: 30rem;
    border-radius: 2rem;
    overflow: hidden;
    flex-shrink: 0;
    opacity: .8;
    scale: .9;
    cursor: pointer;
    transition: .3s ease-in-out;

    &:hover {
        opacity: 1;
        scale: 1;
        z-index: 10;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.moveCarousel {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    z-index: 100;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease-in-out .5s;
    cursor: pointer;
    font-size: 1.2em;
}

.backCarousel {
    left: 1rem;
}

.nextCarousel {
    right: 1rem;
}