.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-bottom: 1px solid var(--border-color);
    transition-property: border;
    transition: var(--transition-default);
    backdrop-filter: blur(.5rem);
    z-index: 1000;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: var(--body-backgroud);
        opacity: .8;
        pointer-events: none;
    }
}

.navbar > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
}

.navlogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.homeImage {
    flex-shrink: 0;
    height: 3rem;
    width: 3rem;
}