*:has(> .shadowWord) {
    position: relative;

    div {
        position: absolute;

        &::before {
            content: "";
            position: relative;
            height: 1em;
            width: .2rem;
            background: #58f;
        }
    }
}

.shadowWord {
    list-style: none;
    visibility: hidden;
    position: absolute;
}