*:has(> .shadowWord) {
    position: relative;

    div {
        position: absolute;
        height: 1em;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            translate: 0.75rem;
            display: block;
            height: 1em;
            width: 0.5rem;
            background: #58f;
            animation: .5s lightText steps(1) alternate infinite;
        }
    }
}

.shadowWord {
    list-style: none;
    visibility: hidden;
    position: absolute;
}

@keyframes lightText {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}