.projectsList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 75vw;
    gap: 2rem;
    // background: red;

    li {
        flex-shrink: 0;
        list-style: none;
    }
}

.projectItem {
    display: flex;
    padding: 1rem 2rem;
    border: 2px solid var(--select-background);
    border-radius: .75rem;
    overflow: hidden;
    flex-direction: column;
    transition: .2s ease-in-out background;
    max-width: min(35rem, 90vw);
    gap: .6rem;

    &:hover {
        background: var(--select-background);
    }

    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5em;
    }

    hr {
        opacity: .4;
    }

    p {
        margin-top: .75em;
        font-size: max(.85em, .85rem);
        opacity: .8;
    }
}

.logoProject {
    flex-shrink: 0;
    height: 3rem;
    width: 3rem;
    filter: drop-shadow(0 0 .65rem var(--logo-shadow-color));
}