.projectsList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 20rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    padding: 1rem 0;

    li {
        flex-shrink: 0;
        background: var(--select-background);
        list-style: none;
    }
}