.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-top: 1px solid var(--border-color);
    transition-property: border;
    transition: var(--transition-default);
}