.content {
    position: relative;
    padding: 30vh 0;
    padding-bottom: 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 8rem 4rem;
    width: auto;
    left: 0;
    right: 0;
}