@mixin positions($dirs...) {
    @for $i from 0 to length($dirs) {
        $item: nth($dirs, $i + 1);

        &.spawn#{$item} {
            #{$item}: 50%;

            &.showBox {
                #{$item}: calc(100% + var(--gap-size));
            }
        }
    }
}

.mainContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ownerBox {
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    padding: .25rem;
    display: flex;
    flex-direction: row;
    font-size: 1.35em;
    border-radius: .4rem;
    opacity: .75;
    transition: var(--transition-default);

    &:hover, &.showBox {
        opacity: 1;
    }
}

.optionsBox {
    position: absolute;
    background: var(--body-backgroud);
    border-radius: .4rem;
    font-size: .85em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    scale: .8;
    transition: var(--transition-default);

    &.showBox {
        opacity: 1;
        scale: 1;
        pointer-events: auto;
    }

    @include positions(top, bottom, left, right);
}

.optionButton {
    list-style: none;
    cursor: pointer;
    background: var(--select-background);
    padding: .3rem .5rem;
    width: 100%;
    font-weight: 500;
    letter-spacing: var(--ltr-spacing);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--gap-size) / 2.5);
    transition: var(--transition-default);

    & > * {
        pointer-events: none;
    }

    &:hover, &.optionSelected {
        background: var(--hover-select-background);
    }

    &.optionSelected {
        color: var(--primary-color-text);
    }
}

.themeIcon {
    font-size: 1.3em;
    display: flex;
    padding-right: .5rem;
}

@media screen and (max-width: calc(75rem + max(3vw, 1.5rem) * 2.5)) {
    .optionsBox {
        right: -2vw;
    }
}